<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Invisible Element Example</title>
    <style>
        .invisible {
            height: 30px;  /* Adjust the height to create the desired space */
            visibility: hidden;
        }
    </style>
</head>

<body>

    <link rel="stylesheet" href="../application/static/style.css">

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>WebApp PyMAPDL</title>

    <script language="javascript">
        function fetchData() {
            document.getElementsByName('SolveStatus')[0].value = "Solve in Progress"
            b=document.getElementById("SolveStatus");
            b.style.backgroundColor='red';
        }
    </script>

    <div class="container">

        <div class="Title">
            <h1>Mechanical APDL VM 35 Bimetallic Layered Cantilever Plate with Thermal Loading</h1>
        </div>

        <div class="Reference">
            <p>Reference: R. J. Roark, W. C. Young, Formulas for Stress and Strain, 5th Edition, McGraw-Hill Book Co., Inc., New York, NY, 1975, pp. 113-114.</p>
        </div>

        <table>
            <tr>
                <td valign="top">
                    <div class="Input-Header">
                        <b><u>INPUTS</u></b> </label> <br/><br/>
                    </div>
                    <div class="Input-Names">
                        <label for="Length">Length (in) </label><br/><br/>
                        <label for="Thickness">Thickness (in) </label> <br/><br/>
                        <label for="mat1ex">Mat1 : Young’s Modulus (psi) </label> <br/><br/>
                        <label for="mat2ex">Mat2 : Young’s Modulus (psi) </label> <br/><br/>
                        <label for="mat1cte">Mat1 : CTE (/degF) </label> <br/><br/>
                        <label for="mat2cte">Mat2 : CTE (/degF) </label> <br/><br/>
                        <label for="tref">T Ref (degF) </label> <br/><br/>
                        <label for="tamb">T Ambient (degF) </label> <br/><br/>
                    </div>
                </td>
                <td valign="top">
                    <div class="Input-Values">
                        <form onsubmit='fetchData()' method="POST">
                            <div class="invisible"></div>
                            <input type="number" step=0.01 id="Length" name="Length" value={{L2}} required> <br/><br/>
                            <input type="number" step=0.01 id="Thickness" name="Thickness" value={{t2}} required> <br/><br/>
                            <input type="number" step=0.01 id="mat1ex" name="mat1ex" value={{E21}} required> <br/><br/>
                            <input type="number" step=0.01 id="mat2ex" name="mat2ex" value={{E22}} required> <br/><br/>
                            <input type="number" step=0.0000000001 id="mat1cte" name="mat1cte" value={{c21}} required> <br/><br/>
                            <input type="number" step=0.0000000001 id="mat2cte" name="mat2cte" value={{c22}} required> <br/><br/>
                            <input type="number" step=0.01 id="tref" name="tref" value={{T1}} required> <br/><br/>
                            <input type="number" step=0.01 id="tamb" name="tamb" value={{T2}} required> <br/><br/>

                            <button type="submit" value="submit" name="Solve">Solve</button>
                        </form>
                    </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td valign="top">
                    <div class="Output-Header">
                        <b><u>OUTPUTS</u></b> </label> <br/><br/>
                    </div>
                    <div class="Output-Names">

                        <label for="SolveStatus">Solve Status </label> <br/><br/>
                        <label for="TotalDeformation">Z Deformation (in) </label> <br/><br/>
                        <label for="RoarksZmax">Roark's Z Max (in) </label> <br/><br/>
                        <label for="error">Percent Error %</label> <br/><br/>
                <td valign="top">
                    </div>
                    <div class="invisible"></div>
                    <div class="Output-Values">
                        {%if Flag%}
                            <input type="text" id="SolveStatus" name="SolveStatus" readonly="readonly" value={{SolveStatus}}> <br/><br/>
                            <input type="number" id="TotalDeformation" name="TotalDeformation" readonly="readonly" ,
                                   value={{TotalDeformation}}> <br/><br/>
                            <input type="number" id="RoarksZmax" name="RoarksZmax" readonly="readonly" ,
                                   value={{RoarksZmax}}> <br/><br/>
                            <input type="number" id="error" name="error" readonly="readonly" ,
                               value={{error}}> <br/><br/>
                        {% else %}
                            <input type="text" id="SolveStatus" name="SolveStatus" readonly="readonly" value="Not Solved Yet"> <br/><br/>
                            <input type="float" id="TotalDeformation" name="TotalDeformation" readonly="readonly"> <br/><br/>
                            <input type="float" id="RoarksZmax" name="RoarksZmax" readonly="readonly"> <br/><br/>
                            <input type="float" id="error" name="error" readonly="readonly"> <br/><br/>
                        {%endif%}
                        <br/> <br/> <br/>

                    </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td>&nbsp;&nbsp;&nbsp;</td> <!-- Spacer cell -->
                <td valign="top">
                    <div class="Input-Image">
                        <img src={{input_image_url}} alt="problem description  image" style="width:480px;height:300px;">
                    </div>
                    <div class="Result-Image">
                        {%if Flag%}
                            <img src={{output_image_url}} alt="result image" style="width:600px;height:450px;">
                        {%endif%}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
